@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  background-color: black;
  margin: 0;
  padding: 0;
  height: screen;
}

html,
body {
  height: 100%;
}

.container {
  width: 90%;

  margin: 0 auto; /* Center the container on the screen */
}

h1 {
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  color: white;
  font-size: 40px;
}

/* Sort bar Section */
.sort-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  color: white;
  margin: 15px 0;

  width: 100%;
}

.sort-bar div {
  text-align: center;
}

.sort-bar i {
  font-size: 1.3rem;
  color: white;
  padding-top: 0.3rem;
  font-size: 27px;
}

.sort-bar i:hover {
  transform: scale(1.27);
}

.sort-bar p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Sort Bar Section End */
table {
  border-collapse: collapse;
  width: 100%; /* Set the table width to 100% of the container */
}

#randomiseButton,
#Top10Button {
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  font-size: 20px;
  background-color: transparent;
  color: gold;
  border: 2px solid gold;
  text-align: center;
  cursor: pointer;
  border-radius: 80px;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto;
}

#randomiseButton:hover,
#Top10Button:hover {
  background-color: gold;
  color: white;
}

#Top10Button {
  margin-top: 7px;
}

th,
td {
  border: 1px solid gold;
  padding: 8px;
  text-align: left;
  font-size: 20px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

td:nth-child(4) {
  width: 150px;
  text-align: center;
}

#movies-table {
  margin-top: 32px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: white;
}

.tmdblogo {
  margin: 0 auto;
}

#tmdb {
  width: 200px;
  height: 200px;
}

/* Responsive Styles */

/* For mobile screens */
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
  th,
  td {
    border: 1px solid gold;
    /* padding: 8px; */
    text-align: left;
    font-size: 10px;
  }
  .sort-bar {
    flex-wrap: wrap;
    justify-content: space-evenly; /* Distribute items evenly */
    width: 100%; /* Full width */
    border-bottom: none;
    gap: 25x;
  }

  .sort-bar div {
    padding-left: 7px;
    flex: 1; /* Each item takes equal width */
    text-align: center; /* Center align content */
    border-radius: 50%;
  }

  .sort-bar i {
    font-size: 20px; /* Adjust icon size for mobile */
    color: white;
  }

  .sort-bar p {
    font-size: 16px; /* Adjust text size for mobile */
  }

  /* Centre buttons on mobile screens */
  #randomiseButton,
  #Top10Button {
    display: block; /* Make buttons block-level elements */
    width: 80%; /* Adjust width as needed */
    margin: 20px auto; /* Centre the buttons horizontally */
  }
}
